<footer class="contato" id="contato">
  <h2 class="contato__title" [@scrollAnimation]="state">Entre em contacto</h2>
  <a href="mailto:ssilva.bn@gmail.com" [@scrollAnimation]="state">
    <button class="btn-secondary btn--degrade">CONTACTO</button>
  </a>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item ">
      <a href="https://github.com/Noemiojt/"><i class="fab fa-github fa-3x "></i></a>
    </li>
    <li class="list__item">
      <a href="https://web.facebook.com/"><i class="fab fa-facebook fa-3x"></i></a>
    </li>
    <li class="list__item">
      <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp fa-3x"></i></a>
    </li>
  </ul>
  &copy; Copyright 2021
</footer>